{
  "backup_device_uuid" : "{{ timeshift__backup_device_uuid }}",
  "parent_device_uuid" : "{{ timeshift__parent_device_uuid }}",
  "do_first_run" : "false",
  "btrfs_mode" : "false",
  "include_btrfs_home_for_backup" : "false",
  "include_btrfs_home_for_restore" : "false",
  "stop_cron_emails" : "true",
  "btrfs_use_qgroup" : "true",
  "schedule_monthly" : "false",
  "schedule_weekly" : "false",
  "schedule_daily" : "false",
  "schedule_hourly" : "false",
  "schedule_boot" : "false",
  "count_monthly" : "{{ timeshift__max_count_monthly }}",
  "count_weekly" : "{{ timeshift__max_count_weekly }}",
  "count_daily" : "{{ timeshift__max_count_daily }}",
  "count_hourly" : "{{ timeshift__max_count_hourly }}",
  "count_boot" : "{{ timeshift__max_count_boot }}",
  "snapshot_size" : "0",
  "snapshot_count" : "0",
  "date_format" : "%Y-%m-%d %H:%M:%S",
  "exclude" : {{ timeshift__excludes | to_json }},
  "exclude-apps" : [
  ]
}
